<li>
  <%# if !current_user?(user) %>
    <%= gravatar_for user, size: 50 %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>  
    <%#= user.last_access_at if Rails.env.development? %>    
    <% if !user.activated? %>
      <p style="color:red;">Not Activated</p>
    <% end %>      
  <%# end %>  
</li>
